.about__section{
    background: #1B262F;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.about__heading{
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.369231px;
color: #FBFCFE;
}

.about__info{
    font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 28px;
color: #FBFCFE;
mix-blend-mode: normal;
opacity: 0.7;
max-width: 445px;
padding-bottom: 32px;
}
.about__inner{
    padding-left: 0px;
}
.about__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    
}
.about__item{
    padding-left: 80px;
    padding-bottom: 50px;
}

.about__link{
    
font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: center;
letter-spacing: -0.115385px;
color: #FBFCFE;
padding: 16px 32px 14px 32px;
border: 1px solid #FBFCFE;
border-radius: 24px;
text-decoration: none;
}

.about__link:active{
    background: #FFFFFF;
border: 1px solid #FBFCFE;
border-radius: 24px;
color: #1B262F;
}
.about__link:hover{
    opacity: 0.7;
}

@media screen and (max-width:950px) {
    .about{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 200px;
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width:950px) {
    .about__item{
      padding-left: 10%;
    
    }
    .about__heading{
        font-size: 48px;
line-height: 56px;
    }

    .about__info{
        font-size: 15px;
line-height: 28px;
    }

    .about__link{
        font-size: 15px;
line-height: 18px;
    }
}

@media screen and (max-width:420px) {
    .about_picture{
        max-width: 100px;
        min-width: 17px;
    }
}
